* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  min-height: 140vh;
  background-color: #f0f0f0 !important;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.fa {
  margin: 0px 4px;
}

.fa-angle-down {
  font-weight: lighter;
  margin: 0;
}

.fa-user {
  border-radius: 50%;
}
/* nav */
.heading_navigation {
  background-color: #2874f0;
  height: 57px;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: center;
}

.nav_container {
  align-items: center;
  /* box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%); */
  max-width: 1248px;
  margin: auto;
  width: 100%;
  position: relative;
  left: 61px;
}

.anchor:hover {
  text-decoration: underline;
}

.logo {
  flex-direction: column;
  width: fit-content;
}

.anchor {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}

.flip_logo img {
  width: 75px;
}

.search_bar_container {
  min-width: 304px;
  width: 708px;
}

.search_bar {
  max-width: 565px;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0px 2px 4px 0 rgb(0 0 0 /23%);
}

.anchor {
  font-size: 11px;
  font-style: italic;
  margin-top: -5px;
}
.search_box {
  outline: none;
  padding: 0px 16px;
  height: 36px;
  border-radius: 2px 0px 0px 2px;
  border: 0;
  width: 100%;
  font-size: 14px;
}

.btn_search {
  background: #fff;
  border: 1px solid #fff;
  padding: 4px 12px 4px 8px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  color: #2874f0;
  font-size: 19px;
}

.login {
  position: relative;
  left: 45px;
}

.login_btn {
  color: #2874f0;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  letter-spacing: 1px;
  height: 32px;
  padding: 5px 40px;
  font-weight: 500;
  margin: 0px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #dbdbdb;
}

/* more  */
.more_2 {
  position: relative !important;
  left: 45px !important;
}

.more_lan_2 {
  color: white !important;
  font-weight: bold !important;
  margin: 0px 20px !important;
  cursor: pointer !important;
  font-size: 16px !important;
}

.more_lan_2:hover > .fa-angle-down {
  transform: rotate(180deg) !important;
}

.more_dropdown_2 {
  position: relative !important;
  top: 12px !important;
}
.more_dropdown_2 {
  right: 40px !important;
}

.pointer_2 {
  width: 20px !important;
  height: 20px !important;
  background: #fff !important;
  transform: rotate(45deg) !important;
  position: relative !important;
  top: 10px !important;
  left: 50% !important;
}

.more_dropdown_list_2 {
  position: absolute !important;
  list-style: none !important;
  background-color: #fff !important;
  width: max-content !important;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%) !important;
  min-width: 240px !important;
  transform: translate(-30px) !important;
}

.more_drop_li_2 {
  padding: 16px 20px !important;
  border-bottom: 1px solid #f0f0f0 !important;
  font-size: 14px !important;
  cursor: pointer !important;
}
.more_icon_2 {
  width: 25px !important;
  color: #2874f1 !important;
}

.more_drop_li_2:last-child {
  border-bottom: none !important;
}
.more_drop_li_2:hover {
  background: #fafafa !important;
}

.more_2,
.more_lan_2:hover {
  display: block !important;
}

.more_2:hover .more_lan_2 {
  position: relative !important;
  top: 10px !important;
}

.more_pointer_2 {
  left: 80% !important;
}

.more_2:hover .more_dropdown_2 {
  display: block !important;
}

.cart {
  position: relative;
  left: 45px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.cart_lan {
  color: white;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  font-size: 16px;
}

.heading_categories {
  margin-bottom: -10px;
  background-color: #fff;
  justify-content: center;
  position: sticky;
  height: 57px;
  min-height: 112px;
  border-bottom: 2px solid lightgray;
  flex-direction: row;
  color: #212121;
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
}

.heading_category_list {
  list-style: none;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
}

.heading_category_items {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
}

.heading_category_items:hover {
  color: #2874f0;
}

.cat_image {
  height: 64px;
  width: 64px;
  margin-bottom: 3px;
}

.heading_item_name {
  font-size: 14px;
  font-weight: 550;
}

.heading_category_item:first-child {
  padding-left: 22px;
}

.heading_category_item:last-child {
  padding-right: 22px;
}

/* dropdown */
.pointer {
  width: 20px;
  height: 20px;
  background: #fff;
  transform: relative;
  top: 10px;
  left: 50%;
}

.login_dropdown,
.more_dropdown {
  position: relative;
  top: 30px;
}

.more_dropdown {
  right: 40px;
}

.login_dropdown_list,
.more_dropdown_list {
  position: absolute;
  list-style: none;
  background-color: #fff;
  width: max-content;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
  min-width: 240px;
  transform: translate(-30px);
  list-style: none;
  justify-content: space-between;
}

.login_drop_li,
.more_drop_li {
  padding: 16px 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.login_drop_li:last-child,
.more_drop_li-child {
  border-bottom: none;
}

.login_drop_li:first-child:hover {
  background: #fff;
}

.login_drop_li:hover,
.more_drop_li:hover {
  background: #fafafa;
}

.new_login {
  font-weight: bold;
}

.sign_li {
  justify-content: space-between;
  font-size: 14px;
}

.sign_up {
  text-decoration: none;
  color: #2874f0;
  font-weight: bold;
}

.more_pointer {
  left: 80%;
}

.more_icon {
  width: 25px;
  color: #2874f1;
}

.login:hover .login_dropdown,
.more:hover .more_dropdown {
  display: block !important;
}

.heading_item_name:hover .fa-angle-down::before {
  content: "\f106";
}

.nav_button {
  /* top: 140px; */
  position: absolute;
}

.box_timer {
  /* height: 100px; */
  /* width: 100%; */
  /*margin: 100px;
  border: 2px solid lightgray;
  justify-content: center;
  min-height: 120px; */
  position: relative;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0;
  font-size: 13px;
  color: #212121;
  line-height: 1.4;
  justify-content: space-between;
}

.box_details {
  /* margin-top: 1px; */
  /* width: 90%;
  margin: 100px;
  border: 2px solid lightgray;
  background-color: #fff;
  justify-content: center;
  min-height: 120px; */
  /* margin-top: -50px !important; */
  background-color: #fff;
  /* padding: 15px 20px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* letter-spacing: 0; */
  /* font-size: 14px; */
  color: #212121;
  line-height: 1.4;
}
.mar {
  margin-top: -50px !important;
}

.time {
  font-size: 14px;
  color: #b2b2b2;
  font-weight: bold;
  margin-bottom: 10px;
}

.time_show {
  opacity: 0.6;
}

.deals_of_the_day {
  margin-top: 0px;
  justify-content: space-between;
}

.deals_of_the_day_text {
  position: relative;
  top: 5px;
  left: 10px;
  font-size: 25px;
}

.view_all {
  position: relative;
  /* right: auto; */
  /* left: auto; */
}

.btn_view_all {
  color: #fff;
  border-radius: 2px;
  border: 1px solid #2874f0;
  background: #2874f0;
  letter-spacing: 1px;
  height: 50px;
  width: 140px;
  border: none;
  padding: 10px 20px;
  outline: none;
  /* font-weight: bold; */
  font-weight: 500;
  margin: 0px 20px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  transition: box-shadow 0.2s ease;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.deals_of_the_day_items {
  justify-content: center;
  margin-top: 50px;
}

.deals_of_the_day_list {
  list-style: none;
  justify-content: space-around;
  max-width: 1280px;
  width: 100%;
}

.deals_of_the_day_item {
  /* padding: 10px 30px;
  cursor: pointer;
  text-align: center; */
  padding: 25px 15px;
  justify-content: space-between;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  max-height: 366px;
  text-align: center;
  line-height: 1.4;
  /* webkit-user-select: none; */
  text-decoration: none;
  color: inherit;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 0;
  margin: 0;
  /* margin-top: 10px !important; */
  outline: none;
}

.deals_of_the_day_item .img {
  /* width: 250px;
  height: 300px; */
  opacity: 1;
  position: relative;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  line-height: 1.4;
  text-align: center;
}

.deals_of_the_day_item .title {
  /* margin-top: 20px;
  font-weight: 550;
  font-size: 24px;
  line-height: 30px; */
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  /* -webkit-user-select: none; */
  color: inherit;
  line-height: 1.4;
}

.deals_of_the_day_item .price {
  /* margin-top: 20px;
  font-weight: 200;
  font-size: 22px;
  color: rgb(111, 145, 89); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #388e3c;
  padding-top: 8px;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  padding: 0;
}

.deals_of_the_day_item .desc {
  /* margin-top: 20px;
  font-weight: 200;
  font-size: 22px;
  color: rgb(160, 160, 160); */
  opacity: 0.6;
  text-align: center;
  padding-top: 7px;
  white-space: nowrap;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
  color: inherit;
  /* -webkit-user-select: none;  */
}

.card .img {
  max-width: auto;
  max-height: auto;
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.img_card_banner {
  width: 108% !important;
  height: 98% !important;
}
