* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto, arial, sans-serif;
  text-decoration: none;
  min-height: 140vh;
  font-size: 14px;
  background: #f1f3f6;
  letter-spacing: 0px;
  line-height: 1.5;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.fa {
  margin: 0px 4px;
}

.fa-angle-down {
  font-weight: lighter;
  margin: 0;
}

.fa-user {
  border-radius: 50%;
}
/* nav */

.bg-primary {
  background-color: #2874f0 !important;
}

/* .heading_navigation {
  background-color: #2874f0;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 2;
} */

.nav_container {
  align-items: center;
  max-width: 1248px;
  margin: auto;
  width: 100%;
  position: relative;
  left: 61px;
}

.anchor:hover {
  text-decoration: underline;
}

.logo {
  flex-direction: column;
  width: fit-content;
}

.anchor {
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
}

.flip_logo img {
  width: 75px;
}

.search_bar_container {
  min-width: 304px;
  width: 708px;
}

.search_bar {
  max-width: 565px;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0px 2px 4px 0 rgb(0 0 0 /23%);
}

.anchor {
  font-size: 11px;
  font-style: italic;
  margin-top: -5px;
}
.search_box {
  outline: none;
  padding: 0px 16px;
  height: 36px;
  border-radius: 2px 0px 0px 2px;
  border: 0;
  width: 100%;
  font-size: 14px;
}

.btn_search {
  background: #fff;
  border: 1px solid #fff;
  padding: 4px 12px 4px 8px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  color: #2874f0;
  font-size: 19px;
}

.login {
  position: relative;
  left: 45px;
}

.login_btn {
  color: #2874f0;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background: #fff;
  letter-spacing: 1px;
  height: 32px;
  padding: 6px 40px;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.more,
.cart {
  position: relative;
  left: 45px;
}

.more_lan,
.cart_lan {
  color: white;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  font-size: 16px;
}

.heading_categories {
  background-color: #fff;
  justify-content: center;
  min-height: 112px;
  border-bottom: 2px solid lightgray;
}

.heading_category_list {
  list-style: none;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%;
}

.heading_category_items {
  padding: 12px 8px;
  cursor: pointer;
  text-align: center;
}

.heading_category_items:hover {
  color: #2874f0;
}

.cat_image {
  height: 64px;
  width: 64px;
  margin-bottom: 3px;
}

.heading_item_name {
  font-size: 14px;
  font-weight: 550;
}

.heading_category_item:first-child {
  padding-left: 22px;
}

.heading_category_item:last-child {
  padding-right: 22px;
}

.box_timer {
  /* height: 100px; */
  width: 90%;
  margin: 100px;
  border: 2px solid lightgray;
  background-color: #fff;
  justify-content: center;
  min-height: 120px;
  /* position: relative; */
}

.box_details {
  margin-top: -100px !important;
  width: 90%;
  margin: 100px;
  border: 2px solid lightgray;
  background-color: #fff;
  justify-content: center;
  min-height: 120px;
}
.dis_top {
  margin-top: -85px !important;
}

/* dropdown */
.pointer {
  width: 20px;
  height: 20px;
  background: #fff;
  transform: relative;
  top: 10px;
  left: 50%;
}

.login_dropdown,
.more_dropdown {
  position: relative;
  top: 32px;
}

.more_dropdown {
  right: 40px;
}

.login_dropdown_list,
.more_dropdown_list {
  position: absolute;
  list-style: nome;
  background-color: #fff;
  width: max-content;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 /20%);
  min-width: 240px;
  transform: translate(-30px);
}

.login_drop_li,
.more_drop_li {
  padding: 16px 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.login_drop_li:last-child,
.more_drop_li-child {
  border-bottom: nome;
}

.login_drop_li:first-child:hover {
  background: #fff;
}

.login_drop_li:hover,
.more_drop_li:hover {
  background: #fafafa;
}

.new_login {
  font-weight: bold;
}

.sign_li {
  justify-content: space-between;
  font-size: 14px;
}

.sign_up {
  text-decoration: none;
  color: #2874f0;
}

/* .login:hover .login_btn, */
more:hover .more_lan {
  position: relative;
  top: 10px;
}

.more_pointer {
  left: 80%;
}

.more_icon {
  width: 25px;
  color: #2874f1;
}

.login:hover .login_dropdown,
.more:hover .more_dropdown {
  display: block;
}

.nav_button {
  /* top: 140px; */
  position: absolute;
}

.deals_of_the_day {
  margin-top: 30px;
}

.deals_of_the_day_text {
  position: relative;
  top: 5px;
  left: 30px;
}

/* .view_all {
  position: absolute;
  right: 80px;
} */

.btn_view_all {
  color: #fff;
  left: 70%;
  border-radius: 2px;
  border: 1px solid #2874f0;
  background: #2874f0;
  /* letter-spacing: 1px; */
  height: 50px;
  position: relative;
  /* right: 80px; */
  width: 140px;
  padding: 10px 30px;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

/* .deals_of_the_day_items {
  justify-content: center;
  margin-top: 50px;
} */
/*
.deals_of_the_day_list {
  list-style: none;
  justify-content: space-around;
  max-width: 1280px;
  width: 100%;
}

@media screen and (max-width: 900px) and (min-width: 200px) {
  .deals_of_the_day_list {
    list-style: none;
    justify-content: space-around;
    max-width: 1280px;
    width: 100%;
    flex-wrap: wrap;
  }
}
*/
.deals_of_the_day_item {
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
}

.deals_of_the_day_item img {
  /* width: 250px;
  height: 300px; */
  opacity: 1;
}

.deals_of_the_day_item .title {
  margin-top: 20px;
  font-weight: 550;
  font-size: 20px;
  line-height: 30px;
}

.deals_of_the_day_item .price {
  margin-top: 20px;
  font-weight: 200;
  font-size: 15px;
  color: rgb(111, 145, 89);
}

.deals_of_the_day_item .desc {
  margin-top: 20px;
  font-weight: 200;
  font-size: 15px;
  color: rgb(160, 160, 160);
}
